.container{
margin-top:80px;
line-height: 50px;
color:#dc3545;

}
.btn{
    margin-left: 300px;
    margin-top:35px;
    color:white;
    background-color: #dc3545;
    cursor: pointer;
    box-sizing: border-box;
}