<div class="container pt-5">
    <form  #signform="ngForm" (ngSubmit)="verify(signform)">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control"  [(ngModel)]="user.username"  #username="ngModel" ngModel   name="username" placeholder="Enter Username" required>
         </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email </label>
            <input type="text" class="form-control"  [(ngModel)]="user.email"  #email="ngModel" [class.is-invalid]="email.invalid && email.touched" ngModel name="email"  placeholder="Enter email" required pattern="^([A-Za-z0-9\-.]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3}?)$">
            <small class="text-primary" [class.d-none]="email.valid||email.touched">Enter valid email</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone</label>
            <input type="text" class="form-control"  [(ngModel)]="user.phone"  #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" ngModel  name="phone" placeholder="Enter Phonenumber " required pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4}$">
            <small class="text-primary" [class.d-none]="phone.valid||phone.touched">Invalid</small>
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" ngModel  #password="ngModel" [class.is-invalid]="password.invalid && password.touched"  name="password" placeholder="Password" required minlength="8" >
          <small class="text-primary" [class.d-none]="password.valid||password.touched">it contain atleast 8 charecter</small>
        </div>
       
        <button type="submit" class="btn " [disabled]="signform.form.invalid">Sign in</button>
      </form>
</div>
