.hero {
	align-items: center;
	background-image: url('https://www.psnacet.edu.in/Library/img/about-lib.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	display: flex;
  width: 100%;
	height: 100vh;
	justify-content: center;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
   z-index: -2;
}

.hero::before {
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.hero h1 {
	font-size: 46px;
	margin: -20px 0 20px;
}

.hero p {
	font-size: 20px;
	letter-spacing: 1px;
}
